doctype html 
html 
  head 
    title BBS 
    link(rel="stylesheet", href="/bootstrap.min.css")
  body 
    .container
      include header.pug 
      block content 
        p 空白页面
      include footer.pug 